h1 {
  font-family: 'Geologica', sans-serif;
  font-size: 40px;
  color: #344563;
  padding-left: 25px;
}

* {
  list-style: none;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h5 {
  font-size: 45px;
  color: #344563;
  padding-left: 16px;
}

#ma {
  padding-top: 50px;
}

a {
  color: #6070ff;
  font-size: 27px;
  font-weight: bold;
}

.container {
  flex-direction: column;
  width: 375px;
  height: auto;
  padding-bottom: 30px;
  background-image: url(image/header-shapes\ mobile.png);
}

h2 {
  color: white;
  text-align: center;
  padding-top: 90px;
  font-size: 30px;
  font-weight: bolder;
}

.version2 {
  flex-direction: column;
  width: 357px;
  height: auto;
  color: #fff;
  border-radius: 16px;
  border: 2px solid #dfe1e6;
}

.version3 {
  flex-direction: column;
  width: 375px;
  height: auto;
  padding-bottom: 30px;
  color: #fff;
  border-radius: 16px;
  border: 2px solid #dfe1e6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px 0 25px;
}

.sec {
  display: flex;
  align-items: center;
  padding: 23px 23px 0 25px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: #6070ff;
  margin-bottom: 4px;
}

#hello {
  width: 327px;
  height: 150px;
  font-size: 20px;
  padding-top: 150px;
  padding-left: 25px;
  line-height: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

h4 {
  width: 200px;
  height: 25px;
  color: #396df2;
  padding-top: 140px;
  padding-left: 25px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.big {
  font-size: 20px;
  font-weight: bold;
}

ul.social-icons {
  list-style: none;
  display: flex;
  padding-top: 30px;
  padding-left: 16px;
}

ul li.bird {
  padding: 0;
  margin: 0;
}

.title ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.title li {
  display: flex;
  align-items: center;
  margin: 6px;
  color: #7a869a;
  font-weight: bold;
}

.title .dark {
  color: #344563;
  font-weight: bolder;
}

.categories {
  list-style: none;
  margin-left: 16px;
  margin-bottom: 15px;
}

.categories li {
  display: inline;
  margin: 3px;
}

.categories button {
  color: #6070ff;
  border-radius: 7px;
  border: none;
  padding: 6px;
}

ul.social-icons li {
  margin: 2px 12px;
}

ul.social-icons li a {
  display: inline-block;
}

#tonic {
  padding-left: 16px;
}

.title {
  margin: 16px;
  display: flex;
}

img .sec {
  margin-top: 25px;
  margin-bottom: 20px;
  align-items: center;
}

.line {
  font-size: 18px;
  font-weight: bolder;
  color: #344563;
  margin-bottom: 18px;
  padding: 16px;
  line-height: 35px;
}

.btn {
  background-color: #ebebff;
  color: #6070ff;
  font-weight: bold;
  border-radius: 7px;
  padding: 7px;
}

#seepj {
  border-color: #396df2;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px 15px;
  margin: 16px;
  color: #396df2;
}

#seepj:hover {
  background-color: #6070ff;
  color: #fff;
  font-weight: bold;
}

.categories li:hover {
  background-color: #6070ff;
  color: #fff;
  font-weight: bold;
}

#final {
  margin-top: 100px;
}

img .move {
  padding-left: 16px;
}

#need {
  margin-top: 50px;
  margin-right: 50px;
  padding-left: 16px;
  color: black;
  list-style: none;
}

#need li {
  padding-bottom: 13px;
}

#last {
  margin-top: 80px;
}

#grip {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.ChDown {
  width: 30px;
  height: 20px;
  margin-left: 130px;
}

.Right {
  width: 30px;
  height: 20px;
  margin-left: 200px;
}

.left {
  width: 30px;
  height: 20px;
  display: inline;
  margin-left: 129px;
}

.form-spree {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 779px;
  background-color: #6070ff;
  background-image: url(image/form/microverse.png);
  border-top-left-radius: 70px;
}

#align {
  color: #ebebff;
  text-align: center;
  padding-top: 20px;
  font-size: 19px;
}

input {
  width: 320px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  margin-top: 25px;
  margin-left: 22px;
  margin-right: 15px;
}

#touch {
  padding: 15px;
  border: none;
  border-radius: 9px;
  margin-left: 27px;
  color: #6070ff;
  background-color: #fff;
  font-size: 17px;
  font-weight: bold;
  margin-top: 40px;
}

.label::placeholder {
  padding: 10px;
  color: #172b4d;
  font-weight: bold;
}

textarea {
  width: 318px;
  height: 180px;
  border-radius: 10px;
  margin-left: 25px;
  margin-top: 23px;
}

textarea::placeholder {
  display: flex;
  color: #b3bac5;
  font-size: 14px;
  padding-left: 10px;
}

.shape {
  margin-left: 115px;
  margin-top: 20px;
}

#touch:hover {
  background-color: #6070ff;
  color: #fff;
  font-weight: bold;
}
