h1 {
    font-family: 'Geologica', sans-serif;
    padding-left: 25px;
}

h2 {
    color: #6070FF;
}

.container {
    width: 375px;
    height: 718px;
    padding-bottom: 30px;
    background-image: url(image/header-shapes\ mobile.png);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 23px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: #6070FF;
    margin-bottom: 4px;
}

section {
    width: 327px;
    height: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 33px;
    padding-left: 25px;
    line-height: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
}

p {
    width: 200px;
    height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 25px;
    padding-top: 50px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 900;
    display: flex;
    align-items: center;
    color: #7f8cff;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.vector {
    width: 2700px;
}

.vector li {
    padding: 8px;
}

.vector ul li {
    display: inline-flex;
}