h1 {
  font-family: 'Geologica', sans-serif;
  font-size: 40px;
  color: #344563;
  padding-left: 25px;
}

#ma {
  padding-top: 50px;
}

a {
  color: #6070ff;
  font-size: 27px;
  font-weight: bold;
}

.container {
  width: 375px;
  height: 718px;
  padding-bottom: 30px;
  background-image: url(image/header-shapes\ mobile.png);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px 0 25px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: #6070ff;
  margin-bottom: 4px;
}

#hello {
  width: 327px;
  height: 150px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-top: 25px;
  padding-left: 25px;
  line-height: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

h4 {
  width: 200px;
  height: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 25px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 900;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

ul.social-icons {
  list-style: none;
  display: flex;
}

ul li.bird {
  padding: 0;
  margin: 0;
}

ul.social-icons li {
  margin: 2px 12px;
}

ul.social-icons li a {
  display: inline-block;
}
